@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply font-bold text-5xl;
  }
}

body {
  /* background: url('https://cdn.kibrispdr.org/data/2/ahegao-wallpaper-0.jpg'); */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
